.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.667vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.search-container {
    justify-content: space-aroud;
}

.search-container input {
    width: 40vw;
    height: 6.667vh;
    border: none;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.search-container input::placeholder{
    padding-left: 10px;
    opacity: 60%;
    color: #666666;
}

.search-container img {
    position: relative;
    top: 7px;
    right: 40px;
    color: #afafaf;
}

.search-container a {
    margin-left: 25px;
    color: #474747;
}

.login button {
    width: 11.13vw;
    height: 7.5vh;
    border-radius: 8px;
    border: none;
    background-color: #C92071;
    color: white;
    text-align: center;
}
